<h1>Cuisines</h1>
<ul>
  <li *ngFor="let c of cuisines | async">{{ c.$key + '- ' + c.$value }}</li>
</ul>
<div *ngIf="(exists | async)?.$value">EXISTS</div>
<h1>Restaurants</h1>
<ul>
  <li *ngFor="let r of restaurants | async">
    {{ r.name }}
    <ul>
      <li *ngFor="let f of r.featureTypes">
        {{ (f | async)?.$value }}
      </li>
    </ul>
     </li>
</ul>
<h1>Implementing a Facebook Login</h1>
<h2> Hello {{ displayName }} </h2>
<img *ngIf="photoUrl" src="{{ photoUrl }}" alt="">
<button (click)="register()">Register</button>
<button (click)="emailLogin()">Login</button>
<button (click)="emailLogout()">Logout</button>
<div *ngIf="error">{{ error }}</div>

<button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login - Auth0</button>
<button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout - Auth0</button>
<button *ngIf="auth.isAuthenticated()" (click)="showProfile()">Show Profile - Auth0</button>
<button *ngIf="auth.isAuthenticated()" (click)="updateProfile()">Update Profile - Auth0</button>
<button *ngIf="auth.isAuthenticated()" (click)="callApi()">Call API - Auth0</button>